asgiref==3.9.1 ; python_version >= "3.13"
attrs==25.3.0 ; python_version >= "3.13"
certifi==2025.8.3 ; python_version >= "3.13"
charset-normalizer==3.4.2 ; python_version >= "3.13"
dj-database-url==3.0.1 ; python_version >= "3.13"
dj-email-url==1.0.6 ; python_version >= "3.13"
dj-rest-auth==7.0.1 ; python_version >= "3.13"
django-allauth==64.2.1 ; python_version >= "3.13"
django-cache-url==3.4.5 ; python_version >= "3.13"
django-cors-headers==4.7.0 ; python_version >= "3.13"
django==5.2.4 ; python_version >= "3.13"
djangorestframework==3.16.0 ; python_version >= "3.13"
djhtml==3.0.8 ; python_version >= "3.13"
drf-spectacular==0.28.0 ; python_version >= "3.13"
environs==14.3.0 ; python_version >= "3.13"
gunicorn==23.0.0 ; python_version >= "3.13"
idna==3.10 ; python_version >= "3.13"
inflection==0.5.1 ; python_version >= "3.13"
jsonschema-specifications==2025.4.1 ; python_version >= "3.13"
jsonschema==4.25.0 ; python_version >= "3.13"
marshmallow==4.0.0 ; python_version >= "3.13"
packaging==25.0 ; python_version >= "3.13"
psycopg==3.2.9 ; python_version >= "3.13"
python-dotenv==1.1.1 ; python_version >= "3.13"
pyyaml==6.0.2 ; python_version >= "3.13"
referencing==0.36.2 ; python_version >= "3.13"
requests==2.32.4 ; python_version >= "3.13"
rpds-py==0.26.0 ; python_version >= "3.13"
sqlparse==0.5.3 ; python_version >= "3.13"
tzdata==2025.2 ; python_version >= "3.13" and sys_platform == "win32"
uritemplate==4.2.0 ; python_version >= "3.13"
urllib3==2.5.0 ; python_version >= "3.13"
whitenoise==6.9.0 ; python_version >= "3.13"
